.sidebar__container {
  .ant-menu {
    padding-top: 11.4rem;
    border: 0;;
    .ant-menu-submenu-title {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 1px;
    }
  }
}

